[Unit]
Description=UPnP media server access control service
BindsTo=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/strbo_ssdp upnpgate -ua '.*TaMusicNavigator.*'
StandardOutput=journal
StandardError=journal
UMask=0007
User=root
Group=strbo
KillSignal=SIGINT

[Install]
WantedBy=strbo.target
