[Unit]
Description=StrBo Stream Player
After=syslog.target strbo-dbus.service
BindsTo=strbo-dbus.service

[Service]
Type=dbus
BusName=de.tahifi.Streamplayer
ExecStart=/usr/bin/streamplayer
CapabilityBoundingSet=CAP_SYS_NICE
AmbientCapabilities=CAP_SYS_NICE
RestrictRealtime=no
KillMode=process
UMask=0007
Nice=-20
StartupCPUWeight=1800
CPUWeight=100
User=strbo-audio

[Install]
WantedBy=strbo.target
